
@{
    ViewBag.Title = "Editar";
}



@using PROYECTOFINAL.Models
@model productomodel

<h2>Editar</h2>


<form action="../Editar" method="POST" name="formulario" id="formulario">

    
    <label id="Nombre" name="Nombre" class="TextoAgregar">Nombre</label>
    <input type="text" name="nombre" id="nombre" class="Selects" value="@Model.nombre">
    <br /> <br />

    <label id="Precio" name="Precio" class="TextoAgregar">Precio</label>
    <input type="number" name="precio" id="precio" class="Selects" value="@Model.precio" />

    <br /> <br />
    <label id="categ" name="categ" class="TextoAgregar">Categoria</label>

    <select id="categoria" name="categoria" class="Selects">

        @foreach (categoriamodel item in categoria.ListarCategorias())
        {
            if (item.id == Model.IdCategoria)
            {
                <option value="@item.id" selected> @item.nombre</option>
            }
            else
            {
                <option value="@item.id"> @item.nombre</option>
            }
        }

    </select>
    <br />
    <label id="Nombre" name="Nombre" class="TextoAgregar">Proveedor</label>

    <select name="proveedor" id="proveedor" class="Selects">

        @foreach (proveedormodel item in proveedor.ListarProveedores())
        {
            if (item.idProveedores == Model.IdProveedor)
            {
                <option value="@item.idProveedores" selected> @item.nombre</option>
            }
            else
            {
                <option value="@item.idProveedores"> @item.nombre</option>
            }
        }
    </select>

    <br />
    <label id="stkActual" name="stkActual" class="TextoAgregar">Stock actual</label>
    <input type="number" name="StockActual" id="StockActual" class="Selects" value="@Model.stockactual" >
    <br>
   
    <label id="stkmin" name="stkmin" class="TextoAgregar">Stock minimo</label>  
    <input type="number" name="StockMinimo" id="StockMinimo" class="Selects" value="@Model.stockminimo">

    <br> <br>
        
    <input type="submit" value="Actualizar producto" />
    </form>
