
@{
    ViewBag.Title = "Index";
}

@using PROYECTOFINAL.Models;
@model List<productomodel>

<h2>Productos</h2>

<br><br>

<a href="/Productos/Agreg">Crear producto nuevo</a>

<table class="table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Proveedor</th>
        <th>Stock actual</th>
        <th>Stock minimo</th>
        <th>Accion</th>


    </tr>

    @foreach (productomodel item in @producto.ListarProductos())
    {
        <tr>
            <td>@item.nombre</td>
            <td>@item.precio</td>
            <td>@item.categoria</td>
            <td>@item.Proveedor</td>
            <td>@item.stockactual</td>
            <td>@item.stockminimo</td>

           <td> @Html.ActionLink("Editar", "editar", "productos", new { id = item.id }, null)
            @Html.ActionLink("Eliminar", "eliminar", "productos", new { id = item.id}, null)
           </td>


        </tr>

    }

</table>