
@{
    ViewBag.Title = "Finalizar venta";
}
@using PROYECTOFINAL.Models
@model ventamodel



<h2>Finalizar venta</h2>

<div>
    @if (Model != null)
    {
        <h1>Su venta ha sido registrada con exito!</h1>

        <h4>Monto total: @Model.MontoTotal</h4>

        if (Model.MedioPago != null)
        {
            <h4>Medio de pago: @Model.MedioPago</h4>
        }
       

        <h4>Fecha: @Model.Fecha</h4>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>


            
        </tr>

        @foreach (productomodel item in Model.ListaArticulos)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.precio</td>
                <td>@item.cantidad</td>
                <td>@item.subtotal</td>



            </tr>

        }
    </table>

    <a href="/Home/Index">Agregar otra venta</a>
        }
    

</div>