@{
    ViewBag.Title = "FIFOS";
}

<script>

    function valcate(value)
    {
        if (value > 0)
        {
            document.getElementById("categ").innerHTML = "";
        }
    }

    function valprod(value) {
        if (value > 0) {
            document.getElementById("prodi").innerHTML = "";
        }
    }

    $(document).ready(function () {
        $("#cate").change(function (e) {
            $.get("/Home/SelectProductos", { idCategoria: e.target.value }, function (response) {
                $("#divSelectProductos").html(response);
            });
        });
    });

    $(document).ready(function () {
        $("#cantidad").change(function (e) {            
            $.get("/Home/SelectCantidad", { cantidad: e.target.value }, function (response) {
                $("#divSelectCantidad").html(response);
            });
        });        
    });


    function CargarPrecio(id) {
        $.get("/Home/SelectPrecio", { idProducto: id }, function (response) {
            $("#divSelectPrecio").html(response);
        });
    }

    function Procesar() {
        var categoria = $('#cate').val();

            if (categoria > 0)
            {
                document.getElementById("categ").innerHTML = "";
                
                var producto = $('#Producto').val();
                if (producto > 0)
                {
                    document.getElementById("prodi").innerHTML = "";
                    var cantidad = $('#cantidad').val();                   
                    var canti = $('#canti').val();
                    document.getElementById('Agregar').disabled = true;
                   
                        if (cantidad > 0 && canti== "")
                        {
                            $('#formulario').submit();
                        }
                    
                        else
                        {
                            document.getElementById("canti").innerHTML = "*Debe completar la cantidad";
                        }
                    
                    }
        
                    else
                    {
                        document.getElementById("prodi").innerHTML = "*Debe completar el producto";
                    
                    }
            }
            else
            {
                document.getElementById("categ").innerHTML = "*Debe completar la categoria";
             
            }
    }
    
        
    

   
    </script>

@using PROYECTOFINAL.Models
@model productomodel
@{ int cat = 0;
  

}
<div id="home">

    <h2>Ventas</h2>

    <form action="../Home/Index" method="POST" name="formulario" id="formulario">

        <div class="divGeneral">

            <div class="form-group">

                <label for="categori">Categoria</label>

                
                    <select class="form-control" name="cate" id="cate" required onchange="valcate(value);">
                        <option value="0">Seleccionar</option>

                        @foreach (categoriamodel item in categoria.ListarCategorias())
                        {
                            if (cat == 0)
                            {
                                cat = item.id;
                            }
                            <option value="@item.id"> @item.nombre</option>
                        }

                    </select>
                    <label class="help-inline" id="categ"></label>
                </div>
            


            <div id="divSelectProductos" style="display:inline;"></div>
            

            <div id="divSelectPrecio" style="display:inline;"></div>
            <br />

            <div id="divSelectCantidad" style="display:inline;"></div>

            <br />

            <button type="button" id="Agregar" name="Agregar" class="btn btn-default" onclick="Procesar();">Agregar articulo</button>
        </div>
    </form>
         </div>
       
         
                    
    <br> 
    <a href="/Home/Cancelar">Cancelar venta</a>
    <br> 
    <a href="/Home/Venta">Finalizar venta</a>




<br><br><br><br>

<div id="listado">
    @if (TempData["listaActual"] != null)
    {
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
            @foreach (productomodel item in (List<productomodel>)(TempData["listaActual"]))
            {
                <tr class="linea">
                    <td width="80">@item.nombre</td>
                    <td width="10">@item.precio</td>
                    <td width="10">@item.cantidad</td>
                    <td width="10">@item.subtotal</td>
                    
                </tr>
            }

            </table>
    }
               
  </div>
