
@{
    ViewBag.Title = "Index";
}


@using PROYECTOFINAL.Models
@model List<proveedormodel>


<h2>Proveedores</h2>

<br><br>

<a href="/Proveedores/Agreg">Crear proveedor nuevo</a>


<table class="table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Saldo</th>
        <th>Telefono</th>    
        <th>Acción</th> 

    </tr>

    @foreach (proveedormodel item in @proveedor.ListarProveedores())
    {
        <tr>
            <td>@item.nombre</td>
            <td>@item.saldo</td>
            <td>@item.telefono</td>
            <td>
                @Html.ActionLink("Editar", "editar", "proveedores", new { id = item.idProveedores }, null)
                @Html.ActionLink("Eliminar", "eliminar", "proveedores", new { id = item.idProveedores }, null)
                
                
            </td>

        </tr>

    }
</table>
