<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIFOS </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class = "navbar-brand" >FIFOS</a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">    
                                    
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/Ventas/Index">Ventas</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Ventas/Index">Por dia</a></li>
                            <li><a href="/Ventas/VentasMensual">Por mes</a></li>
                        </ul>
                    </li>

                    <li class="hola"> <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/Movimientos/Index">Movimientos</a>
                       <ul class="dropdown-menu">
                           <li><a href="/Movimientos/Index">Nuevo</a></li>
                           <li><a href="/Movimientos/listado">Listado</a></li>
                           <li><a href="/Movimientos/ElegirMes">Elegir mes</a></li>
                           <li><a href="/Movimientos/ElegirDia">Elegir dia</a></li>
                       </ul>
                    </li> 
                       
                    <li class="hola"><a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"  href="/Caja/Index">Caja</a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="/Caja/Index">Abrir/Cerrar caja</a></li>-->
                            <li><a href="/Caja/ListarMovimientosCaja"> Listar movimientos</a></li>
                        </ul>
                    </li>       

                    <li><a href="/Productos/Index">Productos</a></li>      
                    <li><a href="/Categorias/Index">Categorias</a></li>   
                    

                    <li class="hola">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/Proveedores/Index">Proveedores</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Proveedores/Index">Listado</a></li>
                            <li><a href="/Proveedores/Compra">Agregar pedido</a></li>
                            <li><a href="/Proveedores/Pagar">Agregar pago</a></li>

                        </ul>
                    </li>  
                              
                    
                </ul>
                <!--Html.Partial("_LoginPartial")-->
            </div>

          

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - FIFOS®</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
