<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/logoFifos1.ico" rel="shortcut icon" type="image/x-icon" />
    <title>FIFOS </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class = "navbar-brand" >FIFOS</a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">    
                                    
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/Ventas/Index">Ventas</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Ventas/Index">Por dia</a></li>
                            <li><a href="/Ventas/VentasMensual">Por mes</a></li>
                        </ul>
                    </li>

                    <li class="hola"> <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/Movimientos/Index">Movimientos</a>
                       <ul class="dropdown-menu">
                           <li><a href="/Movimientos/Index">Nuevo</a></li>       
                           <li><a href="/Movimientos/ElegirDia">Elegir dia</a></li>                    
                           <li><a href="/Movimientos/ElegirMes">Elegir mes</a></li>
                           
                       </ul>
                    </li> 
                       
                    <li class="hola"><a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"  href="/Caja/Index">Caja</a>
                        <ul class="dropdown-menu">
                            <li><a href="../Caja/CerrarCaja">Cerrar caja</a></li>
                            <li><a href="/Caja/ListarMovimientosCaja"> Listar movimientos</a></li>
                        </ul>
                    </li>       

                    <li><a href="/Productos/Index">Productos</a></li>      
                    <li><a href="/Categorias/Index">Categorias</a></li>   
                    

                    <li class="hola">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"  href="/Proveedores/Index">Proveedores</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Proveedores/Index">Listado</a></li>
                            <li><a href="/Proveedores/Compra">Agregar compra</a></li>
                            <li><a href="/Proveedores/Pago">Agregar pago</a></li>
                            <li><a href="/Proveedores/ProductosXProveedor">Productos de un proveedor</a></li>
                         </ul>
                    </li>  
                    <li class="hola">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/Reportes/Index">Reportes</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Reportes/Index">Ventas</a></li>
                            <li><a href="/Reportes/ReporteProve">Compras a proveedores</a></li>
                            
                        </ul>
                    </li>
                    <li class="hola"><a class="" data-toggle="modal" data-target=".bootstrapmodal"> Ingresar </a></li>   
                   
                    @if (Session != null)
                    {
                       <li class="left">@Session["nombre"]</li>                
                    }

                    <li><a href="../Usuarios/CerrarSesion">Cerrar sesion</a></li>    
                   

                </ul>
                <!--Html.Partial("_LoginPartial")-->
                
            </div>

          

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - FIFOS®</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="modal-title">Iniciar sesion</div>

                </div>

                <div class="modal-body">
                    <form method="post" action="/Usuarios/Ingresar">

                        <label>Ingrese su usuario</label>
                        <select name="nombre" class="form-control" id="nombre">

                            <option value="1">Concepcion</option>
                            <option value="2">Gualeguaychu</option>
                        </select>
                        <br />
                        <label>Ingrese la contraseña</label>
                        <input type="password" class="form-control" name="contraseña" id="contraseña" required />
                        <br>
                        <input type="submit" class="btn btn-default" value="Ingresar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
