
@{
    ViewBag.Title = "Index";
}
@using PROYECTOFINAL.Models;
@using Libreria;

<script>
    function productosHola(checkbox)
    {
        if (checkbox.checked) {
            document.getElementById("productos").disabled = false;
            document.getElementById("proveedor").disabled = true;
            document.getElementById("categoria").disabled = true;

        }
        else
        {
            document.getElementById("productos").disabled = true;
            document.getElementById("produc").prop("checked", false);
        }
       
    }

    function categoriaFuncion(checkbox)
    {
        if (checkbox.checked) {
            document.getElementById("productos").disabled = true;
            document.getElementById("proveedor").disabled = true;
            document.getElementById("categoria").disabled = false;
        }
        else {
            document.getElementById("categoria").disabled = true;
            document.getElementById("cate").prop("checked", false);
        }
    }

    function proveedorFuncion(checkbox)
    {
        if (checkbox.checked) {

            document.getElementById("productos").disabled = true;
            document.getElementById("proveedor").disabled = false;
            document.getElementById("categoria").disabled = true;
        }
        else
        {
            document.getElementById("proveedor").disabled = true;
            document.getElementById("prove").prop("checked", false);

        }
       
    }
</script>


<h2>Reportes</h2>
<br />


<form method="post" action="/Reportes/ReporteProductos">
   
    <label>Fecha 1</label>
    <input type="date" name="fecha1" id="fecha1" required/>

    <label>Fecha 2</label>
    <input type="date" name="fecha2"  id="fecha2" required value="" />
   
        <br /><br />
     <label>Filtros:</label>
    <br />

    <input type="checkbox" class=".checkbox-circle"  name="efectivo" value="efectivo"/> Efectivo<br>
    <input type="checkbox" class=".checkbox-circle" name="tarjeta" value="tarjeta"/> Tarjeta <br />
    <br/>
    <input type="checkbox" class=".checkbox-circle" name="produc" value="produc" onclick="productosHola(this)"/> Producto <br />
    <select name="productos" class="form-control" id="productos" disabled >
        <option value="0">Seleccionar</option>
        @foreach (productomodel item in producto.ListarProductos())
        {
            <option value="@item.id">@item.nombre</option>
        }

    </select>
   <br />
    <input type="checkbox" name="prove"  class=".checkbox-circle" value="prove" onclick="proveedorFuncion(this)"/>Proveedor <br />
    <select name="proveedor" id="proveedor" class="form-control" disabled >

        <option value="0">Seleccionar</option>
        @foreach (proveedormodel item in proveedor.ListarProveedores())
        {
            <option value="@item.idProveedores">@item.nombre</option>
        }

    </select>
    
    <br />
    <input type="checkbox" class=".checkbox-circle" name="cate" onclick="categoriaFuncion(this);
    " value="cate" /> Categoria <br />
    <select name="categoria" class="form-control" id="categoria" disabled >

        <option value="0">Seleccionar</option>
        @foreach (categoriamodel item in categoria.ListarCategorias())
        {
            <option value="@item.id">@item.nombre</option>
        }

    </select>

    <br />
    <br />
    <input type="submit" class="btn btn-default"  value="Descargar"/>

</form>
